doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/skeleton/normalize.css')
		link(rel='stylesheet', href='/stylesheets/skeleton/skeleton.css')
	body
		.container
			block content
